@media  (max-width: 1400px) {
    .header {
        width: 1332px;

        &__main {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 6px;
        }
    }

    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}